<footer class="footer" id="footer">
    <div class="map-frame">
        <iframe width="100" height="100" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4520.302800918522!2d37.56642230097143!3d55.4948869708786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x414aa94a0c64f52f%3A0x6daa8a6327af4fb5!2z0KHQuNC80YTQtdGA0L7Qv9C-0LvRjNGB0LrQvtC1INGILiwgMTTQsSwg0KnQtdGA0LHQuNC90LrQsCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDE0MjE3MA!3m2!1d55.495352399999994!2d37.567023899999995!5e0!3m2!1sru!2sua!4v1542217193775"
            frameborder="0"  allowfullscreen></iframe>
    </div>
    <div class="footer__bottom-holder">
        <div class="container">
            <div class="green-block">
                <div class="green-block__title">
                    Контакты:
                </div>
                <div class="green-block__row">
                    <svg class="svg-icon icon-mark">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps-flags"></use>
                    </svg>
                    <div class="green-block__text">
                        <strong>Адрес:</strong> г. Москва, г. Щербинка,
                        Симферопольское шоссе 14Б с1
                    </div>
                </div>
                <div class="green-block__row">
                    <svg class="svg-icon icon-phone">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
                    </svg>
                    <div class="green-block__text">
                        <strong>Телефон:</strong> +7 (903) 969-50-19
                        (Самовывоз: предварительно звонить!)
                    </div>
                </div>
                <div class="green-block__button">
                    <button class="download">
                        <img src="images/temp/xls.png" alt="xls" class="download__ico">
                        <a href="" class="download__link">Скачать прайс-лист</a>
                        <span class="downlod__format">(*.xls)</span>
                    </button>
                </div>
                <div class="gray-notify ">
                    <svg class="svg-icon lock-ico">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked-padlock"></use>
                    </svg>
                    Мы гарантируем конфиденциальность данных
                </div>
            </div>
            <div class="footer__bottom-info">
                <div class="bottom-info__left">
                    <div class="bottom-info__left-text">
                        Специальные условия для дилеров
                        и ландшафтных дизайнеров!
                    </div>
                    <div class="bottom-info__left-text">
                        Звоните по номеру:
                        <a class="bottom-info__telephone" href="tel:8-800-123-45-68">8 (800) 123-45-68</a>
                    </div>
                </div>
                <div class="bottom-info__righ">
                    <p class="bottom-info__righ-text">
                        Или оставьте контактный телефон и наши специалисты свяжутся с Вами в кротчайший срок
                    </p>
                    
                    <button class="btn">
                        <span>перезвонить вам</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>