<section class="share__wrapper" id="share">
    <div class="container">
        <div class="share__left-column">
            <h2 class="share__title">
                <span class="border__left">Производим пластиковые бордюры с доставкой по всей России от 1 м</span>
            </h2>
            <div class="share__description-row">
                <div class="share__image-holder">
                    <div class="share__image">
                        <img src="/images/temp/share.jpg" class="absolute-img" alt="">
                    </div>
                </div>
                <div class="share__text-holder">
                    <h3>АКЦИЯ!</h3>
                    <span>При покупке садового бордюра «BORDUR»
                        до 15 апреля <b>скидка 10%</b> на весь ассортимент!</span>
                </div>
            </div>
        </div>
        <div class="share__right-column">
            <div class="form_holder">
                <form action="" method="GET" class="download-form">
                    <img src="/images/temp/catalog.png" alt="" class="download-form__icon">
                    <fieldset class="download-form__holder">
                        <legend class="form__title">
                            Скачать <b><a href="#" download>каталог</a></b> со всеми видами пластиковых бордюров
                        </legend>
                        <div class="input__holder">
                            <input type="text" name="" placeholder="Ваше имя" id="" class="input">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                            </svg>
                        </div>
                        <div class="input__holder">
                            <input type="text" name="" placeholder="Ваш номер телефона" id="" class="input">
                            <svg class="svg-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
                            </svg>
                        </div>
                        <div class="form__button">
                            <button class="btn">
                                <span>СКАЧАТЬ КАТАЛОГ</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="container" id="benefit">
    <div class="share__info-section">
        <div class="share__info-column">
            <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#newspaper"></use>
            </svg>
            <div class="share__info-description">
                <h3>
                    “Как правильно выбрать бордюры под свой проект ландшафтного дизайна?”
                </h3>
                <p>
                    Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют определения и
                    уточнения систем массового участия. Товарищи! Рамки и место обучения кадров позволяет выполнять
                    важные задания по разработке модели развития...
                </p>
            </div>
        </div>
        <div class="share__info-button">
            <a href="#" class="btn">
                <span>ЧИТАТЬ СТАТЬЮ</span>
            </a>
        </div>
    </div>
    <div class="benefit">
        <h2 class="title">
            Почему выгоднее покупать у нас?
        </h2>
        <div class="items__holder">
            <div class="benefit__item">
                <div class="benefit__item-img--holder">
                    <img src="/images/temp/factory.png" alt="" class="benefit__item-img">
                </div>
                <div class="benefit__item-title">
                    Собственное производство
                </div>
                <div class="benefit__item-descr">
                    Таким образом сложившаяся структура организации требуют определения и уточнения систем массового
                    участия.
                </div>
            </div>
            <div class="benefit__item">
                <div class="benefit__item-img--holder">
                    <img src="/images/temp/snowflakes.png" alt="" class="benefit__item-img">
                </div>
                <div class="benefit__item-title">
                    Морозостойкий пластик
                </div>
                <div class="benefit__item-descr">
                    Таким образом сложившаяся структура организации требуют определения и уточнения систем массового
                    участия.
                </div>
            </div>
            <div class="benefit__item">
                <div class="benefit__item-img--holder">
                    <img src="/images/temp/trucking.png" alt="" class="benefit__item-img">
                </div>
                <div class="benefit__item-title">
                    Доставка по всей России
                </div>
                <div class="benefit__item-descr">
                    Таким образом сложившаяся структура организации требуют определения и уточнения систем массового
                    участия.
                </div>
            </div>
            <div class="benefit__item">
                <div class="benefit__item-img--holder">
                    <img src="/images/temp/shipping.png" alt="" class="benefit__item-img">
                </div>
                <div class="benefit__item-title">
                    Оплата по факту доставки
                </div>
                <div class="benefit__item-descr">
                    Таким образом сложившаяся структура организации требуют определения и уточнения систем массового
                    участия.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stats__holder" id="stats">
    <div class="container">
        <div class="items__holder">
            <div class="stat__item">
                <div class="stat__count">
                    8512
                </div>
                <div class="stat__descr">
                    километров бордюров
                    установлено
                    нашими клиентами
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    1876
                </div>
                <div class="stat__descr">
                    довольных
                    клиентов у нас
                    заказали бордюры
                </div>
            </div>
            <div class="stat__item">
                <div class="stat__count">
                    365
                </div>
                <div class="stat__descr">
                    дней в году
                    мы работаем
                    и производим
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages__holder" id="advantages">
    <div class="advantages__bottom-image">
        <img src="/images/temp/advantages_bg-bottom.png" alt="">
    </div>
    <img src="/images/temp/jardineiro.png" class="advantages__image-person" alt="">
    <div class="container">
        <h2 class="title">
            Преимущества наших бордюров
        </h2>
        <div class="advantages">

            <div class="advantages__column">
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chemical"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Изготовлен из высококачественного полипро-
                        пилена, долговечный материал и конструкция
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#temperature"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Выдерживает различные перепады температуры от -40 до +100 градусов
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Не требует рытья траншей, подготовки фундаментов, применения специальной техники
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#folded-ribbon"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Просто делать извилистые дорожки, радиусы, любые криволинейные контуры
                    </div>
                </div>
            </div>
            <div class="advantages__image-holder">
                <div class="advantages__image-rounded">
                    <img src="/images/temp/advantages__image.jpg" class="absolute-img" alt="">
                </div>
            </div>
            <div class="advantages__column">
                <div class="advantages__item">
                    <div class="advantages__icon transfer_ico">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transfer"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Легко перенести с одного места на другое и при необходимости поменять форму
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#divide"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Практически не заметен на переходах и разделяет разные покрытия, наполнения
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lawn-mower"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Помогает отделить, защитить от газонокосилки, выделить места на газоне для цветника,
                        кустарников.
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__icon">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
                        </svg>
                    </div>
                    <div class="advantages__descr">
                        Надежно фиксирует края дорожек, легко и быстро устанавливается
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us" id="contact">
    <div class="container">
        <form action="" method="GET">
            <fieldset class="request-form">
                <legend class="form__title">
                    Оставтье <b><a href="#" download>заявку</a></b> и наш специалист подберёт вам лучший вариант
                    по выгодной для вас цене в кратчайшие сроки:
                </legend>
                <div class="input__holder">
                    <input type="text" name="" placeholder="Ваше имя" id="" class="input">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg>
                </div>
                <div class="input__holder">
                    <input type="text" name="" placeholder="Ваш номер телефона" id="" class="input">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
                    </svg>
                </div>
                <div class="form__button">
                    <button class="btn">
                        <span>Оставить заявку</span>
                    </button>
                </div>
            </fieldset>
        </form>
        <div class="gray-notify ">
            <svg class="svg-icon lock-ico">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked-padlock"></use>
            </svg>
            Мы гарантируем конфиденциальность данных
        </div>
    </div>
</section>
<section class="production" id="production">
    <div class="container">
        <h2 class="title title-white">
            Наши бордюры
        </h2>
        <div class="items__holder">
            <div class="production-item">
                <h3 class="production-item__title">
                    БОРДЮР - «Геопластборд 45»
                </h3>
                <div class="production-item__description">
                    <div class="production-item__column">
                        <div class="production-item__image">
                            <img src="/images/temp/production.jpg" class="absolute-img" alt="БОРДЮР - «Геопластборд 45»">
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Длина:
                            </span>
                            <span class="characteristic_info">3000 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Ширина:
                            </span>
                            <span class="characteristic_info">85 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Высота:
                            </span>
                            <span class="characteristic_info">45 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Вес:
                            </span>
                            <span class="characteristic_info">1,32 кг</span>
                        </div>
                    </div>
                    <div class="production-item__column">
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                назначение:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Обустройство места разграничения газонов и пешеходн
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                область применения:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Индивидуальное строительство
                                </li>
                                <li class="list-item">
                                    Парки и скверы
                                </li>
                                <li class="list-item">
                                    Пешиходные зоны
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                цена:
                            </span>
                            <div class="price-holder">
                                <span class="old-price">
                                    660.00 руб.
                                </span>
                                <span class="new-price">
                                    550.00 руб.
                                </span>
                                <button class="btn">
                                    <svg class="svg-icon cart-ico">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart"></use>
                                    </svg>
                                    <span>купить товар</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="production-item">
                <h3 class="production-item__title">
                    БОРДЮР - «Геопластборд 58»
                </h3>
                <div class="production-item__description">
                    <div class="production-item__column">
                        <div class="production-item__image">
                            <img src="/images/temp/production.jpg" class="absolute-img" alt="БОРДЮР - «Геопластборд 58»">
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Длина:
                            </span>
                            <span class="characteristic_info">3000 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Ширина:
                            </span>
                            <span class="characteristic_info">85 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Высота:
                            </span>
                            <span class="characteristic_info">45 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Вес:
                            </span>
                            <span class="characteristic_info">1,32 кг</span>
                        </div>
                    </div>
                    <div class="production-item__column">
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                назначение:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Обустройство места разграничения газонов и пешеходн
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                область применения:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Индивидуальное строительство
                                </li>
                                <li class="list-item">
                                    Парки и скверы
                                </li>
                                <li class="list-item">
                                    Пешиходные зоны
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                цена:
                            </span>
                            <div class="price-holder">
                                <span class="old-price">
                                    660.00 руб.
                                </span>
                                <span class="new-price">
                                    550.00 руб.
                                </span>
                                <button class="btn">
                                    <svg class="svg-icon cart-ico">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart"></use>
                                    </svg>
                                    <span>купить товар</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="production-item">
                <h3 class="production-item__title">
                    БОРДЮР - «Геопластборд 77»
                </h3>
                <div class="production-item__description">
                    <div class="production-item__column">
                        <div class="production-item__image">
                            <img src="/images/temp/production.jpg" class="absolute-img" alt="БОРДЮР - «Геопластборд 77»">
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Длина:
                            </span>
                            <span class="characteristic_info">3000 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Ширина:
                            </span>
                            <span class="characteristic_info">85 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Высота:
                            </span>
                            <span class="characteristic_info">45 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Вес:
                            </span>
                            <span class="characteristic_info">1,32 кг</span>
                        </div>
                    </div>
                    <div class="production-item__column">
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                назначение:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Обустройство места разграничения газонов и пешеходн
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                область применения:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Индивидуальное строительство
                                </li>
                                <li class="list-item">
                                    Парки и скверы
                                </li>
                                <li class="list-item">
                                    Пешиходные зоны
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                цена:
                            </span>
                            <div class="price-holder">
                                <span class="old-price">
                                    660.00 руб.
                                </span>
                                <span class="new-price">
                                    550.00 руб.
                                </span>
                                <button class="btn">
                                    <svg class="svg-icon cart-ico">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart"></use>
                                    </svg>
                                    <span>купить товар</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="production-item">
                <h3 class="production-item__title">
                    Колышек крепежный
                </h3>
                <div class="production-item__description">
                    <div class="production-item__column">
                        <div class="production-item__image">
                            <img src="/images/temp/production.jpg" class="absolute-img" alt="Колышек крепежный">
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Длина:
                            </span>
                            <span class="characteristic_info">3000 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Ширина:
                            </span>
                            <span class="characteristic_info">85 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Высота:
                            </span>
                            <span class="characteristic_info">45 мм</span>
                        </div>
                        <div class="charecteristic-row">
                            <span class="characteristic_title">
                                Вес:
                            </span>
                            <span class="characteristic_info">1,32 кг</span>
                        </div>
                    </div>
                    <div class="production-item__column">
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                назначение:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Обустройство места разграничения газонов и пешеходн
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                область применения:
                            </span>
                            <ul class="list">
                                <li class="list-item">
                                    Индивидуальное строительство
                                </li>
                                <li class="list-item">
                                    Парки и скверы
                                </li>
                                <li class="list-item">
                                    Пешиходные зоны
                                </li>
                            </ul>
                        </div>
                        <div class="production-item__section">
                            <span class="production-item__section-title">
                                цена:
                            </span>
                            <div class="price-holder">
                                <span class="old-price">
                                    660.00 руб.
                                </span>
                                <span class="new-price">
                                    550.00 руб.
                                </span>
                                <button class="btn">
                                    <svg class="svg-icon cart-ico">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart"></use>
                                    </svg>
                                    <span>купить товар</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="poduction_bottom">
            <div class="download">
                <img src="images/temp/xls.png" alt="xls" class="download__ico">
                <a href="" class="download__link">Скачать прайс-лист (*.xls)</a>
            </div>
            <div class="poduction_bottom-button">
                <button class="btn btn-green">
                    <span>ТАБЛИЦА ПРИМЕНЕНИЯ</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="album" id="album">
    <div class="container">
        <h2 class="title">
            РЕАЛИЗОВАННЫЕ ПРОЕКТЫ:
        </h2>
        <div class="album-wrapper">
            <div class="album__pictures popup-gallery">
                <a href="images/temp/album1.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album1.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album3.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album3.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album2.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album2.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album4.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album4.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album6.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album6.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album5.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album5.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
                <a href="images/temp/album7.jpg" class="pictures-item">
                    <div class="picture">
                        <img src="images/temp/album7.jpg" alt="">
                        <div class="picture__text">
                            Участок в подмосковье
                            <span class="picture__text_small">ландшафтный дизайн</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="share__right-column">
                <div class="form_holder">
                    <form action="" method="GET" class="download-form">
                        <fieldset class="download-form__holder ">
                            <legend class="form__title">
                                РАСЧИТАТЬ <b><a href="#" download></a>БОРДЮРЫ</a></b> ДЛЯ ВАШЕГО УЧАСТКА ИЛИ ПРОЕКТА
                            </legend>
                            <div class="input__wrapper">
                                <div class="input__holder " data-clone="select">
                                    <select class="js-single-select select_custom" name="product">
                                        <option value="AL">Product1</option>
                                        <option value="WY">Product2</option>
                                    </select>
                                </div>
                                <div class="input__holder" data-clone="input">
                                    <input type="text" name="count" placeholder="Колличество" id="" class="input">
                                    <svg class="svg-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stack-overflow"></use>
                                    </svg>
                                </div>
                                <div class="form__button-more_holder">
                                    <a href="javascript:void(0)" class="form__button-more js-clone">
                                        <svg class="svg-icon button-more__icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use>
                                        </svg>
                                        <span>добавить еще товар</span>
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="download-form__holder">
                            <div class="input__holder">
                                <input type="text" name="" placeholder="Ваше имя" id="" class="input">
                                <svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                                </svg>
                            </div>
                            <div class="input__holder">
                                <input type="text" name="" placeholder="Ваш номер телефона" id="" class="input">
                                <svg class="svg-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
                                </svg>
                            </div>

                            <div class="form__button">
                                <button class="btn">
                                    <span>СКАЧАТЬ КАТАЛОГ</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="album__contact-info">
                    <div class="album__contact-info_row">
                        Возникли трудности или вопросы?
                    </div>
                    <div class="album__contact-info_row">
                        Звоните нам по номеру: 8 (800)
                    </div>
                    <div class="album__contact-info_row">
                        Или <a href="">оставьте заявку</a> на консультацию и наш
                        специалист поможет Вам в течение 5 минут!
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="paper" id="paper">
    <div class="container">
        <div class="items__holder">
            <div class="paper__item">
                <div class="paper__item-img_holder">
                    <div class="paper__item-img">
                        <img src="/images/temp/paper-item.jpg" alt="" class="absolute-img">
                    </div>
                </div>
                <div class="paper__item-title">«Технологии производства бордюров»</div>
                <div class="paper__description">
                    Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                    нашей деятельности играет важную роль в формировании новых предложений. Повседневная практика
                    показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет
                    оценить значение соответствующий условий активизации.
                </div>
                <button class="btn paper__item-btn js-show-description" data-block='.paper__description'>
                    <span class="close-text">читать полностью</span>
                    <span class="open-text">скрыть</span>
                </button>
            </div>
            <div class="paper__item">
                <div class="paper__item-img_holder">
                    <div class="paper__item-img">
                        <img src="/images/temp/paper-item.jpg" alt="" class="absolute-img">
                    </div>
                </div>
                <div class="paper__item-title">«Технологии производства бордюров»</div>
                <div class="paper__description">
                    Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                    нашей деятельности играет важную роль в формировании новых предложений. Повседневная практика
                    показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет
                    оценить значение соответствующий условий активизации.
                </div>
                <button class="btn paper__item-btn js-show-description" data-block='.paper__description'>
                    <span class="close-text">читать полностью</span>
                    <span class="open-text">скрыть</span>
                </button>
            </div>
            <div class="paper__item">
                <div class="paper__item-img_holder">
                    <div class="paper__item-img">
                        <img src="/images/temp/paper-item.jpg" alt="" class="absolute-img">
                    </div>
                </div>
                <div class="paper__item-title">«Технологии производства бордюров»</div>
                <div class="paper__description">
                    Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                    нашей деятельности играет важную роль в формировании новых предложений. Повседневная практика
                    показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет
                    оценить значение соответствующий условий активизации.
                </div>
                <button class="btn paper__item-btn js-show-description" data-block='.paper__description'>
                    <span class="close-text">читать полностью</span>
                    <span class="open-text">скрыть</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="question" id="question">
    <div class="container">
        <h2 class="title">
            ОТВЕТЫ НА ЧАСТО-задаваемые ВОПРОСЫ:
        </h2>
        <div class="items__holder">
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
            <div class="quetion-item">
                <div class="quetion-item__top">
                    <span class="quetion-item__mark red-mark">В</span>
                    <div class="quetion-item__top-text">
                        "Какой бордюр лучше использовать для оформления
                        садовых дорожек?"
                    </div>
                </div>
                <div class="quetion-item__bottom">
                    <span class="quetion-item__mark green-mark">О</span>
                    <div class="quetion-item__bottom-text">
                        - Значимость этих проблем настолько очевидна, что новая модель организационной деятельности
                        играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных
                        задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции
                        требуют от нас анализа новых предложений. Не следует, однако забывать,
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us" id="contact-second">
    <div class="container">
        <form action="" method="GET">
            <fieldset class="request-form">
                <legend class="form__title">
                    ОСТАЛИСЬ <b><a href="#">ВОПРОСЫ</a></b> ? ПоЗвоните К НАМ по номеру 8 (800) 123-45-69
                    или оставьте заявку на обратный звонок специалиста:
                </legend>
                <div class="input__holder">
                    <input type="text" name="" placeholder="Ваше имя" id="" class="input">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
                    </svg>
                </div>
                <div class="input__holder">
                    <input type="text" name="" placeholder="Ваш номер телефона" id="" class="input">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
                    </svg>
                </div>
                <div class="form__button">
                    <button class="btn">
                        <span>перезвонить вам</span>
                    </button>
                </div>
            </fieldset>
        </form>
        <div class="gray-notify ">
            <svg class="svg-icon lock-ico">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked-padlock"></use>
            </svg>
            Мы гарантируем конфиденциальность данных
        </div>
    </div>
</section>
<section class="benefits" id="benefits">
    <div class="container">
        <div class="items__holder">
            <div class="benefits__item">
                <div class="benefits__item-mark">
                    <svg class="svg-icon icon-check">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
                    </svg>
                </div>
                <div class="benefits__item-text">
                    Первое преимущество
                    работы с Вами, как
                    с поставщиком бордюров
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-mark">
                    <svg class="svg-icon icon-check">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
                    </svg>
                </div>
                <div class="benefits__item-text">
                    Первое преимущество
                    работы с Вами, как
                    с поставщиком бордюров
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-mark">
                    <svg class="svg-icon icon-check">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
                    </svg>
                </div>
                <div class="benefits__item-text">
                    Первое преимущество
                    работы с Вами, как
                    с поставщиком бордюров
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__item-mark">
                    <svg class="svg-icon icon-check">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
                    </svg>
                </div>
                <div class="benefits__item-text">
                    Первое преимущество
                    работы с Вами, как
                    с поставщиком бордюров
                </div>
            </div>
        </div>
    </div>
</section>