.icon-middle {
	display: inline-block;
	vertical-align: middle;
}
.svg-icon  {
	display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-video {
	width: 1.08203125em;
}

.icon-photo {
	width: 1.3154296875em;
}

.icon-menu {
	width: 1.10546875em;
}

.icon-list2 {
	width: 1.0126953125em;
}

.icon-list1 {
	width: 0.974609375em;
}

.icon-like {
	width: 1.0419921875em;
}

.icon-heart {
	width: 1.130859375em;
}

.icon-flag {
	width: 0.8720703125em;
}

.icon-download-folder {
	width: 0.900390625em;
}

.icon-download {
	width: 0.974609375em;
}

.icon-dislike {
	width: 1.0419921875em;
}
