{{> header pageTitle="Index"}}

<div class="main">
	{{> mainPart }}

</div>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#correct"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#divide"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chemical"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#temperature"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#transfer"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stack-overflow"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play-btn"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-indicator"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps-flags"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#locked-padlock"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lawn-mower"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#folded-ribbon"></use>
</svg>
<svg class="svg-icon">
	<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#newspaper"></use>
</svg>
	
{{> footer}}